@import url(reset.css);
.clear{
clear:both;
}
#wrapper{
width:1024px;
height:1075px;
margin:0 auto;
background-color:#3D3D3F;
}
#top{
width:1024px;
height:143px;
outline:1px solid #ffcccc;
background-image:url(../images/topBG.gif);
background-repeat:repeat-x;

}
#topImg{
position:relative;
left:24px;
top:33px;
width:291px;
height:92px;
background-image:url(../images/top.gif);
}
#yellow{
width:1024px;
height:44px;
background-image:url(../images/yellowBG.gif);
background-repeat:repeat-x;

}
#home{
position:relative;
top:-65px;
left:316px;
width:93px;
height:107px;
background-image:url(../images/home.png);
float:left;
}
#about{
position:relative;
top:-65px;
left:375px;
width:103px;
height:106px;
background-image:url(../images/about.png);
float:left;
}
#photos{
position:relative;
top:-65px;
left:415px;
width:91px;
height:107px;
background-image:url(../images/photos.png);
float:left;
}

#designs{
position:relative;
top:-65px;
left:460px;
width:99px;
height:110px;
background-image:url(../images/designs.png);
float:left;
}
#contact{
position:relative;
top:-65px;
left:489px;
width:107px;
height:106px;
background-image:url(../images/contact.png);
float:left;
}
.links a:link{
color:#FFF;
font:bold 12px Verdana;
text-decoration:none;
margin-left:35px;
}
.links a:visited{
color:#FFF;
font:bold 12px Verdana;
text-decoration:none;
margin-left:35px;
}
.links a:hover{
color:#FFcccc;
text-decoration:underline;
font-family:bold 12px Tahoma;
margin-left:35px;
}
.links{
margin-top:-20px;
}
#todays{
background-image:url(../images/todays.gif);
width:1024px;
height:60px;
outline:0px solid #ffcccc;
position:absolute;
}
#todaysPosts{
width:393px;
height:60px;
background-image:url(../images/todaysPosts.png);
background-repeat:no-repeat;
float:left;
}
#sponsors{
right:0px;
width:286px;
height:60px;
background-image:url(../images/sponsors.png);
background-repeat:no-repeat;
float:right;
}
#left{
width:716px;
height:690px;
outline:0px solid #ff33cc;
margin-top:-6px;
float:left;
}
.HG{
width:12px;
height:208px;
background-image:url(../images/vertikalGradient.gif);
background-repeat:no-repeat;
float:left;
}
.content{
margin-left:12px;
width:704px;
height:208px;
outline:0px solid #3333cc;
background-image:url(../images/kontentBG.gif);
background-repeat:repeat-x;
margin-bottom:35px;
}

.content a:link{
color:#11B6CF;
font:18px Arial;
margin-left:16px;
}
.content a:visited{
color:#11B6CF;
font:18px Arial;
margin-left:16px;
}
.content p{
color:#FFF;
font:11px Arial;
margin-left:16px;
margin-right:16px;
margin-top:10px;
margin-bottom:18px;
}
#line{
width:704px;
height:1px;
background-image:url(../images/line.gif);
background-repeat:no-repeat;
}
.soc{
height:59px;
}
.twetter{
width:61px;
height:59px;
background-image:url(../images/twetter.png);
background-repeat:no-repeat;
float:left;
}
.socMini{
position:absolute;
padding-top:6px;
height:46px;
float:left;
}
.facebook{
width:44px;
height:46px;
background-image:url(../images/facebook.png);
background-repeat:no-repeat;
margin-left:61px;
background-position:bottom;
float:left;
}
.b-end-r{
width:46px;
height:46px;
background-image:url(../images/b-end-r.png);
background-repeat:no-repeat;
background-position:bottom;
float:left;
}

.su{
width:46px;
height:46px;
background-image:url(../images/su.png);
background-repeat:no-repeat;
background-position:bottom;
float:left;
}
.lunatik{
width:47px;
height:46px;
background-image:url(../images/lunatik.png);
background-repeat:no-repeat;
background-position:bottom;
float:left;
}
.lopata{
width:43px;
height:46px;
background-image:url(../images/lopata.png);
background-repeat:no-repeat;
background-position:bottom;
float:left;
}
.data{
width:390px;
float:left;
margin-top:17px;
margin-left:248px;
}

.data a:link{
color:#D8E95C;
font:12px Arial;
margin-left:0px;
}
.data a:hover{
color:#D8E95C;
font:12px Arial;
text-decoration:none;
}
.data span{
margin-left:25px;
color:#FFF;
font:12px Arial;
}

#right{
margin-left:716px;
width:307px;
height:470px;
outline:0px solid #3333cc;
margin-top:-6px;
}

#sitebar1{
width:268px;
height:396px;
outline:0px solid #3333cc;
margin-left:17px;
margin-right:23px;
position:absolute;
}
.rLineTop{
width:268px;
height:2px;
background-image:url(../images/bg.gif);
background-repeat:repeat-x;
}
.rightBGl{
width:1px;
height:100%;
background-image:url(../images/rightBG.png);
background-repeat:repeat-y;
float:left;
}

.rightBGr{
width:1px;
height:100%;
background-image:url(../images/rightBG.png);
background-repeat:repeat-y;
float:right;
}

.kvadrat2{
width:125px;
height:125px;
background-image:url(../images/kvadrat.gif);
background-repeat:no-repeat;
position:absolute;
margin-left:138px;
margin-top:4px;
}
.kvadrat3{
width:125px;
height:125px;
background-image:url(../images/kvadrat.gif);
background-repeat:no-repeat;
position:absolute;
margin-left:5px;
margin-top:135px;
}

.kvadrat4{
width:125px;
height:125px;
background-image:url(../images/kvadrat.gif);
background-repeat:no-repeat;
position:absolute;
margin-left:138px;
margin-top:135px;
}
.kvadrat5{
width:125px;
height:125px;
background-image:url(../images/kvadrat.gif);
background-repeat:no-repeat;
position:absolute;
margin-left:5px;
margin-top:266px;
}

.kvadrat6{
width:125px;
height:125px;
background-image:url(../images/kvadrat.gif);
background-repeat:no-repeat;
position:absolute;
margin-left:138px;
margin-top:266px;
}

.kvadrat {
width:125px;
height:125px;
background-image:url(../images/kvadrat.gif);
background-repeat:no-repeat;
position:absolute;
margin-left:5px;
margin-top:4px;
}

#sitebar1  a:hover{
width:125px;
height:125px;
background-image:url(../images/kvadrat2.gif);
background-repeat:no-repeat;
position:absolute;
}

#fav{
width:268px;
height:70px;
background-image:url(../images/fav.png);
background-repeat:no-repeat;
}
#favMenu{
margin-top:-220px;
margin-left:17px;
width:268px;
height:221px;
outline:0px solid #3333cc;
background-image:url(../images/favBG.gif);
background-repeat:repeat;
}
#favTopBG{
width:268px;
height:2px;
background-image:url(../images/favTopBG.gif);
background-repeat:repeat-x;
}

#favLeftBG{
width:2px;
height:100%;
background-image:url(../images/favLeftBG.gif);
background-repeat:repeat-y;
float:left;
}
#favRightBG{
width:2px;
height:100%;
background-image:url(../images/favRightBG.gif);
background-repeat:repeat-y;
float:right;
}
#favBottomBG{
width:268px;
height:3px;
background-image:url(../images/favBottomBG.gif);
background-repeat:repeat-x;
}
#favMenu a{
color:#02DEFF;
font:12px Arial;
line-height:48px;
letter-spacing:2px;
}
#favMenu a:hover{
color:#02DEFF;
font:12px Arial;
line-height:48px;
letter-spacing:2px;
text-decoration:none;
}
#padding{
padding-left:6px;
}

#bottom{
width:990px;
height:46px;
background-image:url(../images/bottom.gif);
background-repeat:repeat-x;
margin-top:29px;
margin-left:2px;
color:#FFF;
font:12px Arial;
padding-left:32px;
padding-top:17px;
position:absolute;
}

#bottom a{
color:#C6E02A;
font:12px Arial;
}
#bottom a:hover{
color:#C6E02A;
font:12px Arial;
text-decoration:none;
}

#rss{
width:76px;
height:74px;
background-image:url(../images/rss.png);
background-repeat:no-repeat;
position:relative;
top:-55px;
left:890px;
}